/*resetar todo el estilo que traia previo mi HTML por defecto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo unico momentaneo para darle un estilo a la web */
.fondo-compartido {
    background-image: url("../IMG/fondo\ pagina\ principal.jpg")
}

/*Edicion de mi "TITULO" de pagina*/
h1 {

    padding: 70px;
    margin: 10 px;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    font-family: 'Rubik Moonrocks', cursive;
    color: $color-primary;
}

.encabezados {
    color: rgb(6, 5, 5);
}


/*la idea es a lo largo del proyecto ir cambiando de tamaño de letra segun seccion*/
p {
    padding: 15px;
    font-size: 1.7em;
    font-weight: 550;
    text-align: left;
    font-family: 'Grape Nuts', cursive;
    color: $color-secundary;
}

/*edicion del logo de whatsapp contacto*/

.whatsapp img {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 90px;


}


/*Estilos para mi pagina PREGUNTAS FRECUENTES*/

/*estilo de bordes para las preguntas frecuentes*/
.preguntas-frecuentes {
    padding: 5px 15px 20px 25px;
    border-style: dotted;
    border-color: rgb(1, 74, 74);
}

/*animacion al logo principal*/

.container {
    position: static;

    .caja {

        color: #FFF;
        text-align: center;
        line-height: 120px;
        margin: 10px;
        float: left;
        font-size: 11px;
        font-family: Arial;
    }

    .caja1 {

        -webkit-transition: 1s linear;
        transition: 1s linear;
    }

    .caja1:hover {
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }

}

/*animacion a mis redes sociales - con futuro lugar para email - youtube etc*/
#redessociales {
    display: flex;
    text-align: start;
    justify-content: start;
    width: 64px;
    height: 64px;
    border-radius: 75px;
    border: 5px solid #fff;
    background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
}

.smedia {
    position: absolute;
    -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
    -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
    -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
    display: inline;
    opacity: 0;
    width: 46px;
    height: 46px;
    z-index: 100;
    margin: 10px 0px 0px 20px;
    text-indent: -9999px;
    background: no-repeat;
    left: 3px;
}

#redessociales:hover .smedia {
    opacity: 1;
    transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    margin: 10px 0px 0px 20px;
    position: static;
}

#redessociales:hover .smedia:nth-child(1) {
    position: absolute;
    left: 65px;
}

#redessociales:hover .smedia:nth-child(2) {
    position: absolute;
    left: 110px;
}

#redessociales:hover .smedia:nth-child(3) {
    position: absolute;
    left: 155px;
}

#redessociales:hover .smedia:nth-child(4) {
    position: absolute;
    left: 200px;
}

#redessociales:hover .smedia:nth-child(5) {
    position: absolute;
    left: 245px;
}

#redessociales:hover .smedia:nth-child(6) {
    position: absolute;
    left: 290px;
}

.smedia.facebook {
    background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}




.smedia.instagram {
    background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}



.smedia:hover {
    background-position: 0 -46px;
}

.redesboton {
    justify-content: left;
}